<!--
<div class="form-inline">
  <div class="form-group">

    <input type="text" [(ngModel)]="programTitle" name="program" class="form-control" id="program" placeholder="Program" required>
    <a (click)="onAddProgram()" class=" glyphicon glyphicon-plus"></a>
  </div>

</div>
-->
<div class="input-group">

  <input type="text" [(ngModel)]="programTitle" name="program" class="form-control" placeholder="New Program...">
  <span class="input-group-btn">
        <button (click)="onAddProgram()" class="btn btn-secondary glyphicon glyphicon-plus" type="button"></button>
      </span>
</div>
